.nav-link {
    text-decoration: none;
}

#btn {
    color: white;
    background-color: #6f4e37;

}



.hover-card {
    transition: transform 0.5s ease;
  }
  
  .hover-card:hover {
    transform: translateY(-10px);
  }
  